body {
text-align: center;
background-image: url('https://catherineasquithgallery.com/uploads/posts/2023-02/1676585271_catherineasquithgallery-com-p-zelenii-fon-ovoshchi-99.png');
}
h1,h2{
text-align: center;
}
img {
items-align: center;
}
